/* IMPORT
---------------------------------------------------------------------------------------------------- */
@import "/css/vendor/reset.css";

@import "/css/layers/base/debug.css";
@import "/css/layers/base/layout.css";
@import "/css/layers/base/styles.css";

@import "/css/layers/styles/styles.css";
@import "/css/layers/styles/content.css";

@import "/css/layers/project/project.css";

/* RESPONSIVE
---------------------------------------------------------------------------------------------------- */
@import "/css/responsive/responsive.css";
@import url(/css/responsive/1280.css) all and (max-width: 1439px);
@import url(/css/responsive/1440.css) all and (min-width: 1440px) and (max-width: 1919px);
@import url(/css/responsive/1920.css) all and (min-width: 1920px);

/* FONTS
---------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'thin_thinregular';
  src: url('/fonts/thin-thin-webfont.eot');
  src: url('/fonts/thin-thin-webfont.eot?#iefix') format('embedded-opentype'),
   url('/fonts/thin-thin-webfont.woff') format('woff'),
   url('/fonts/thin-thin-webfont.ttf') format('truetype'),
   url('/fonts/thin-thin-webfont.svg#thin_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}