<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="author" href="humans.txt">
<link rel="icon" href="/img/ico/favicon.png">
<link rel="author" href="/humans.txt">
<link rel="apple-touch-icon" href="/img/ico/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" sizes="57x57" href="/img/ico/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/ico/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/ico/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/ico/apple-touch-icon-144x144-precomposed.png">
<link rel="stylesheet" href="/css/application.css">
<!--[if IE 9]><link rel="stylesheet" href="/css/polyfill/ie9.css"><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="/css/polyfill/ie8.css"><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/css/polyfill/ie7.css"><![endif]-->
<script src="/js/vendor/yepnope.1.5.4-min.js"></script>
<script src="/js/vendor/modernizr.js"></script>
<script src="/js/application.js"></script>